/* You can add global styles to this file, and also import other style files */

body {
  font-family: sans-serif;
}

app-video-list,
app-video-player,
app-video-thumbnail,
app-stat-filters {
  display: block;
  border: 3px solid green;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}


app-dashboard {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
}
