<h3>Video Player</h3>

<ng-container *ngIf="svc.currentVideo | async as v; else instructions">

  <img
    [alt]="v.title"
    [src]=" 'http://img.youtube.com/vi/' + v.id + '/0.jpg' "
  />

  <div>{{ v.title }} - {{ v.author }}</div>

</ng-container>

<ng-template #instructions>
  Please select a video from the list.
</ng-template>

